* {
    margin: 0;
    padding: 0;
    /* для того чтобы margin & padding: не делали лишних отступов исп box-sizing:*/
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: gray;
}
td>i {
    padding: 7px;
}
ul{
    list-style: none;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
.error {
    color: red;
}

.wrapper__content{
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto 300px;
    grid-gap: 20px;
    padding: 20px;
}

.wrapper__table {
    overflow-y: scroll;
    height: calc(100vh - 30px);
}

.pagination li.active a {
    font-weight: bold;
    color: #9b9b9b;
    border-bottom: 2px solid #9b9b9b;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 3px solid #e3e3e3;
    outline: none;
    transition: 0.5s;
    transition-property: border-bottom;
}
.input:hover {
    border-bottom: 3px solid #bab7b7;
}
.input__text {
    margin: 10px 0;
    padding: 10px;
    height: 150px;
    width: 100%;
    font-size: 14px;
   
}
.form__button{
    padding: 10px;
    margin: 10px 0;
    background: #edeaea;
    border: unset;
    cursor: pointer;
    transition: 0.5s;
  transition-property: background, border-radius;
}
.form__button:hover{
    border-radius: 6px;
    background: #bab7b7; 
}
.form__button:active{
    background: #9b9b9b; 
    border-color: grey;
}

h1{
   text-align: center;
    font-size: 16px;
}
h2{
   display: inline-block;
   text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.table__masage{
    /* border: 2px solid red; */
    width: 100%;
    background: #e3e3e3;
    border-spacing: 3px;
    border-collapse: collapse;
    border-radius: 10px;
    ;
}
.table__masage tr td{
text-align:justify;
border: solid;
border-width: 0 0 1px 0 ;
border-color: #fff;
font-size: 12px;
}
th {
    text-align:center;
    font-size: 14px;
    padding: 10px;
    border: 1px solid gray;
    border-width: 0 0 2px 0 
}
td{
    padding: 6px;
}
form>p {
    text-align: center;
}
.select{
    display: inline-block;
}
.pagination li>a {
    margin: 0 4px 0 4px;
}
.sort_by{
}
.sendmes{
    color:#2ea773;
    text-align: center;
    font-weight: bold;
    
}